* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-light: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-10: hsl(0deg, 0%, 10%);
  --color-gray-30: hsl(0deg, 0%, 30%);
  --color-gray-40: hsl(0deg, 0%, 40%);
  --color-gray-60: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: var(--color-primary);
}

header {
  border-bottom: 8px solid var(--color-gray-60);
}

main {
  background-color: var(--color-gray-40);
  padding-top: 72px;
  padding-bottom: 64px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding-left: 24px;
  padding-top: 96px;
  padding-bottom: 64px;
  max-width: 450px;
}

.title {
  margin-bottom: 48px;
}

.card {
  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-gray-60);
  padding: 24px;
  padding-top: 8px;
}

.indented-heading {
  background-color: var(--color-secondary-light);
  border-bottom: 8px solid var(--color-secondary-dark);

  width: fit-content;
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: 0;
  margin-bottom: 0;
}
